:root {
    --link-color: red;
    --link-hover-color: black;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    body {
        padding: 10px;
    }
}

header {
    margin: 20px auto;
    padding: 20px 0;
    border: 1px dashed black;
}

@media only screen and (max-width: 1024px) {
    header {
        margin: 20px;
    }
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    font-weight: bold;
    color: var(--link-hover-color);
}

footer {
    margin-top: 50px;
    text-align: center;
}

nav {
    text-align: center;
    margin: 30px 0;
}

input, select, textarea {
    margin-bottom: 5px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

.navigation a {
    padding: 10px;
    border: 1px solid black;
}

.navigation a:hover {
    border: 2px solid black;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.actions {
    margin: 25px 0;
}

.center {
    text-align: center;
}