{% extends "layout/baseLayout.twig" %}

{% block content %}
    {% include 'user/signupForm.twig' %}
    <div class="signIn">Already have account? <a href="/login">Sign In</a></div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/assets/css/user/login.css">
{% endblock %}