{% extends "layout/layout.twig" %}

{% block content %}
    <h1>Update Swipe</h1>
    {% include "swipe/swipeForm.twig" %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/assets/css/swipe/form.css">
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block scripts %}
    <script src="/assets/js/form.js" type="text/javascript"></script>
{% endblock %}