{% extends "layout/layout.twig" %}

{% block navigation %}
    <a href="/author/create">Add New Author</a>
{% endblock %}

{% block content %}
    {% for author in authors %}
        {% include 'single/author.twig' %}
    {% endfor %}
{% endblock %}