<form action="/author" method="POST">
    {% if author.id %}<input type="hidden" name="id" value="{{ author.id }}">{% endif %}
    First Name:<input type="text" name="firstName" value="{{ author.firstName }}">
    Last Name:<input type="text" name="lastName" value="{{ author.lastName }}">
    Bio:<textarea name="bio">{{ author.bio }}</textarea>
    <button>Submit</button>
</form>