<form action="/author" method="POST">
    {% if author.id %}<input type="hidden" name="id" value="{{ author.id }}">{% endif %}
    <label for="inputFirstName" class="visually-hidden">First Name</label>
    <input id="inputFirstName" class="form-control" name="firstNname" placeholder="Name" required="required" autofocus="" value="{{ author.firstName }}">

    <label for="inputLastName" class="visually-hidden">Last Name</label>
    <input id="inputLastName" class="form-control" name="lastNname" placeholder="Name" required="required" autofocus="" value="{{ author.lastName }}">
    <textarea name="bio" class="form-control" placeholder="Bio" required="required">{{ author.bio }}</textarea>
    <button class="w-25 btn btn-lg btn-primary" type="submit">Submit</button>
</form>