<form action="/signup" method="POST">
    Nickname:<input type="nickname" name="nickname">
    Email:<input type="email" name="email">
    Password:<input type="password" name="password">
    <button>Submit</button>
</form>