{% extends "layout/layout.twig" %}

{% block navigation %}
    {% if isAdmin %}<a href="/swipe/create">Add New Swipe</a>{% endif %}
{% endblock %}

{% block content %}
    {% for swipe in swipes %}
        {% include 'single/swipe.twig' %}
    {% endfor %}
{% endblock %}