{% extends "layout/layout.twig" %}

{% block content %}
    <h1>Add New Author</h1>
    {% include "author/authorForm.twig" %}
{% endblock %}

{% block scripts %}
    <script src="/assets/js/form.js" type="text/javascript"></script>
{% endblock %}