.comments, .comments__actions {
    max-width: 500px;
    margin: 0 auto;
}

.comments__actions textarea {
    height: 100px;
}

.comment {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.comment__actions {
    margin-left: 20px;
}

.comment__userNickname {
    text-align: left;
}

.comment__comment {
    text-align: left;
}