{% extends "layout/baseLayout.twig" %}

{% block content %}
        {% include 'form/login.twig' %}
        <p>No account? <a href="/signup">Sign Up</a></p>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/assets/css/user/login.css">
{% endblock %}