{% extends "layout/baseLayout.twig" %}

{% block afterBody %}
    <header>
        {% include "layout/header.twig" %}
        {% block header %}{% endblock %}
    </header>
    <nav>{% block navigation %}{% endblock %}</nav>
{% endblock %}